<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Leveling</title>
</head>
<body>
  <div class="cole mt-5">
    {{>navbar}}
    <div class="fri bg-secondary">
<div class="row mb-4 mt-2 text-center pt-5">
  <h2>Family</h2>
</div>
    
<div class="container">
  <div class="row mb-2 mt-2">
    <div class="col-md-4  border-right">
                <div class="cards">
                    
               
                <div class="first bg-white p-3 text-center">
                    <img id="father"  src="images/father.jpg" />

                    <h5>Father</h5>
                <p class="line1">Sung Il-Hwan (성일환) was a Korean S-Rank Hunter and Jinwoo's father.</p>
                    
                </div>

                 </div>
                  
           </div>

           <div class="col-md-4 border-right">
                <div class="cards">
                    
               
                <div class="first bg-white p-3 text-center">
                    <img id="mother" src="images/mother.jpg" />

                    <h5>Mother :Park Kyung-Hye </h5>
                <p class="line1">Jinwoo loved his mother. Her illness-Eternal Slumber was the main reason why he became a hunter, as he hoped to find something in the dungeons that would cure her.</p>
                    
                </div>

                 </div>
                  
           </div>

           <div class="col-md-4 border-right">
                <div class="cards">
                    
               
                <div class="first bg-white p-3 text-center">
                    <img id="sister" src="images/sister.jpg" />

                    <h5>Sister:Sung Jinah</h5>
                <p class="line1">Jinwoo and Jinah have a somewhat typical sibling relationship, and the two are shown to tease and bicker with each other frequently</p>
                    
                </div>

                 </div>
                  
           </div>
</div>
</div>


  <div class="row mt-4 mb-4 text-center">
  <h2>Friends</h2>
</div>


    
<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-md-4 border-right">
                <div class="cards">
                    
               
                <div class="first bg-white p-3 text-center">
                    <img id="f1" src="images/friend1.jpg" />

                    <h5>Yoo Jinho</h5>
                <p class="line1">As a D-Rank Tanker, Jinho is somewhat weak for a hunter and has little battle experience.However, he is fiercely loyal to Jinwoo, who he regards as an older brother figure, and has a strong desire to make his own living.</p>
                    
                </div>

                 </div>
                  
           </div>

           <div class="col-md-4 border-right">
                <div class="cards">
                    
               
                <div class="first bg-white p-3 text-center">
                    <img id="f2" src="images/friend2.jpg" />

                    <h5>Cha Hae-In</h5>
                <p class="line1">Cha is the third strongest hunter in Korea after Go Gunhee and Jinwoo.Cha cares about the lives of others, she developed a habit of patrolling the boss' lair during her raids to ensure the safety of the mining and hauling teams.</p>
                    
                </div>

                 </div>
                  
           </div>

           <div class="col-md-4 border-right">
                <div class="cards">
                    
               
                <div class="first bg-white p-3 text-center">
                    <img id="f3" src="images/Baek.jpg" />

                    <h5>Baek Yoonho</h5>
                <p class="line1">Baek Yoonho (백윤호) is a Korean S-Rank hunter who specializes in transformation magic and the Guild Master of the White Tiger Guild. He was the first person to realize that Jinwoo had no limit to his strength.</p>
                    
                </div>

                 </div>
                  
           </div>
</div>
</div>
</div>
</div>


    <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>