<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solo Leveling</title>
  
</head>

<body>
  <div class="cole mt-5">
  {{>navbar}}
  <div class="Row">
    
    
    {{!-- <div class="box"> --}}
     
      <div class="box" >
        <div class="aboutsjw">
          <section class="typew" >
        <h4>Name: Sung Jin Woo</h4>

        <h4>Shadow Monarch</h4>
        <h4>Class: Mage</h4>
        <h4>Rank: S-Rank</h4>
        <h4>Guild: Ahjin Guild </h4>
        <h4>(Guild Master)</h4>
        </div>
        </section>
        <img  src="images/sjwabout.png" width="100%" height="75%">
        
      </div>
    
  {{!-- </div> --}}
  </div>
  <div class="hidden">
    <div class="p-5  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-6 mx-auto">
          <div class="row">
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
              <h5>Sung Jin Woo is the protagonist of Solo Leveling.He was previously known as the World's Weakest Hunter
                and delved down the path of becoming the World's Strongest Hunter after he was Reawakend and became a
                Player.</h5>
              <h5>Jin Woo was reawakend as a Player after surviving the Cartenon Temple and completing the secret quest
                "Courage of the Weak". The mysterious System has allowed Jin Woo to limitless level up and increase his
                strength, unlike all hunters, who are unable to increase their strength unless reawakend.</h5>

            </div>
            
            <div class="col order-md-8 d-flex justify-content-right align-items-start flex-column">
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-interval="300">
        {{!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div> --}}
        <div class="carousel-inner">
            <div class="rounded carousel-item active">
                <img src="images/sjw8.jpg" class="d-block w-100" alt="..." />
                
            </div>
            <div class="rounded carousel-item">
                <img src="images/sjw2.jpg" class="d-block w-100" alt="..." />
                
            </div>
            <div class="rounded carousel-item">
                <img src="images/sjw3.jpg" class="d-block w-100" alt="..." />
                
            </div>
            <div class="rounded carousel-item">
                <img src="images/sjw4.jpg" class="d-block w-100" alt="..." />
                
            </div>
            <div class="rounded carousel-item">
                <img src="images/sjw9.jpg" class="d-block w-100" alt="..." />
                
            </div>
            <div class="rounded carousel-item">
                <img src="images/sjw6.jpg" class="d-block w-100" alt="..." />
                
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    {{!-- </div> --}}

    <!-- Gallery -->
<div class="row bg-dark">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="images/g1.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="images/g2.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />

    <img
      src="images/g7.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />

    <img
      src="images/g12.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="images/g3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="images/g4.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="images/g8.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="images/g5.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="images/g6.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />

    <img
      src="images/g9.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->

  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>

</html>