<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Leveling</title>
</head>

<body>
  <div class="cole mt-5">
    {{>navbar}}
    <div class="screen1">
      <div class="parallaxm1"></div>
      <div  class="boxm1">

     </div>
      <div class="writtenm1">
        <h5>Antares (안타레스) was the King of Dragons and the Monarch of Destruction. He was also the strongest
           Monarch and the final antagonist of Solo Leveling.</h5>
           <h5>Eons ago, Antares fought alongside the other Monarchs, including the Shadow Monarch Ashborn, in a
             devastating war with the Rulers at the behest of their creator, the Absolute Being. As the war progressed,
              Antares grew fearful of Ashborn's powers and ordered the Beast Monarch and Baran to take him out. However,
               this proved to be a big mistake, as not only was Ashborn able to easily defeat both Monarchs, but he also
                killed Baran as punishment for his betrayal. Shortly after this, Ashborn suddenly disappeared, allowing
                 the Rulers to finally win the war and forcing the surviving Monarchs all into hiding</h5>
      </div>
       
    </div>

    <div class="screen2">
      <div class="parallaxm2"></div>
      <div  class="boxm2">

      </div>
      <div class="writtenm2">
        <h5>Ashborn (아스본) was the King of the Dead and the Monarch of Shadows. He was also the strongest
           Ruler and the Greatest Fragment of Brilliant Light.</h5>
           <h5>Ashborn cared greatly about life and had a benevolent attitude towards humanity. He also had
             a profound desire for peace and was tired of the endless war between the Monarchs and the Rulers,
              leading him to eventually entrust both his ambitions and his powers to a human in hopes of putting
               an end to the bloodshed once and for all. At the same time, however, he was blindly loyal to the
                Absolute Being and continued to fight on the latter's behalf even after learning the truth behind
                 his existence.</h5>
      </div>
      
    </div>


    <div class="screen3">
      <div class="parallaxm3"></div>
      <div  class="boxm3">

      </div>
      <div class="writtenm3">
        <h5>The Beast Monarch was the King of Beasts and one of the nine Monarchs.</h5>
        <h5>The Beast Monarch was an aggressive and arrogant individual with an intense bloodlust towards those
           he regarded as his enemies. He also displayed a very scornful attitude towards humans and viciously
            devoured one who had the bad luck to bump into him.</h5>
        
      </div>
      
    </div>


    <div class="screen4">
      <div class="parallaxm4"></div>
      <div  class="boxm4">

      </div>
      <div class="writtenm4">
        <h5>The Frost Monarch was the King of Snow Folk and one of the nine Monarchs.</h5>
        <h5>The Frost Monarch was a cocky and condescending individual who did not like to play the odds or get
           ahead of his own plans. He was also implied to have a distaste for unnecessary conflict, as displayed
            when he instantly knocked out the humans he encountered on Jeju Island with his powers instead of taking
             the time to massacre them. In the face of power vastly superior to his own, however, he tended to act
              panicked and even reckless, as displayed by how he impatiently urged the other Monarchs to help him
               kill the Shadow Monarch's vessel without realizing just how risky it was.</h5>
      </div>
      
    </div>


    <div class="screen5">
      <div class="parallaxm5"></div>
      <div  class="boxm5">

      </div>
      <div class="writtenm5">
        <h5>Legia (레기아) was the King of Giants and the Monarch of the Beginning.</h5>
        <h5>At some point after the Absolute Being was ousted and murdered, Legia was captured
           by the Rulers and restrained by mana-absorbing chains. Legia had a strange sense of humor,
            as he started laughing crazily after realizing that a fellow Monarch had found him. He was
             also very cunning, as he nearly managed to trick Jinwoo into releasing him from his prison.</h5>
      </div>
      
    </div>






</div>
    <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>