<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Leveling</title>
</head>

<body>
  <div class="cole mt-5 pt-6">
    {{>navbar}}
    <div class"row ">
      <div class=" parallax"></div>
        {{!-- <img class="sa" src="images/shadowarmy.jpg" width="100%"> --}}
    </div>
    <div class="p-3  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-5 mx-auto">
          <div class="row">
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
                <h3>Igris</h3>
              <h5>After obtaining the Shadow Extraction skill, Jinwoo successfully used it on BRCI by appealing to his loyal
                 personality. However, as he thought the knight's original name was too long and cringey, Jinwoo decided to 
                 simply name the shadow Igris instead.</h5>
              <h5>Igris is loyal, respectful, and chivalrous, to the point that he tends to kneel to his master every time 
                he finishes a battle for him.As a Marshal Grade Shadow, Igris is an immensely powerful individual. He is also
                 one of the strongest shadows in Jinwoo's army and is only rivaled by Beru and surpassed by Bellion.</h5>

            </div>
            
            <div class="col order-md-0 d-flex justify-content-right align-items-start flex-column">
              <img class="sa" src="images/igris2.jpg" width="100%">
            </div>
          </div>
        </div>
      </div>
      {{!-- </div> --}}
    </div>

    <div class="p-3  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-5 mx-auto">
          <div class="row">
            <div class="col order-md-0 d-flex justify-content-right align-items-start flex-column">
              <img class="sa" src="images/Tusk_.webp" width="100%">
            </div>
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
                <h3>Tusk</h3>
              <h5>Tusk is a large orc with glowing red skin and glowing blue eyes. He wears a long black hooded cloak 
                and a necklace of skulls.Tusk is obedient, quiet, and shy.However he can also be competitive and a bit of a show-off.</h5>
              <h5>As an Elite Knight Grade shadow, Tusk is on the level of a S-Rank Hunter. As a testament to this, he was able to 
                slaughter hundreds of demons with a single fire spell and kill a giant in one hit.He uses various spells like :
                Hymn of protection, Gravitation Magic, Hymn of Fire Dragon, Hymn of Agony, etc.</h5>

            </div>
          </div>
        </div>
      </div>
      {{!-- </div> --}}
    </div>

             <div class="p-3  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-5 mx-auto">
          <div class="row">
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
                <h3>Iron</h3>
              <h5>During Jinwoo's fight with Baruka, a crazed Kim Chul attempted to kill Jinwoo only to be killed himself
                 by Igris.Jinwoo quickly extracted Kim Chul's shadow from his corpse and named him Iron.</h5>
              <h5>Iron is a loose cannon and has a tendency to go overboard in battle, usually causing 
                excessive destruction with his antics. He also takes pride in his kills and gets easily 
                frustrated when his opponents prove to be immune to his Taunt skill.</h5>

            </div>
            
            <div class="col order-md-0 d-flex justify-content-right align-items-start flex-column">
              <img class="sa" src="images/Iron.jpg" width="100%">
            </div>
          </div>
        </div>
      </div>
      {{!-- </div> --}}
    </div>

    <div class="p-3  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-5 mx-auto">
          <div class="row">
            <div class="col order-md-0 d-flex justify-content-right align-items-start flex-column">
              <img class="sa" src="images/Beru.png" width="100%">
            </div>
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
                <h3>Beru</h3>
              <h5>After Jinwoo killed the Ant King, he extracted its shadow to add to his army. When the shadow displayed
                 the ability to talk to him and asked for a name, Jinwoo named him Beru and sent him out to go slaughter
                  what was left of the ant colony.</h5>
              <h5>Due to having been born to kill, Beru revels in his power and has an obvious bloodlust for battle.
                 As such, he is very brutal in combat, rarely holding back unless ordered to, and goes straight for 
                 his enemy's weak spots.Beru is fiercely loyal to his master and has a strange hobby of watching Korean period dramas</h5>

            </div>
            
            
          </div>
        </div>
      </div>
      {{!-- </div> --}}
    </div>
</div>
<div class="p-3  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-5 mx-auto">
          <div class="row">
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
                <h3>Tank</h3>
              <h5>Tank is a shadow bear about the size of an army tank and has a light purple glow,
                 visible scratch marks on his left eye. As an ice bear, Tank typically behaves in an
                  animalistic manner, plowing through enemies with brute force and ripping them apart
                   with his teeth and claws.</h5>
              <h5>As a Knight Grade Shadow, Tank is about as powerful as an A-Rank Hunter.</h5>

            </div>
            
            <div class="col order-md-0 d-flex justify-content-right align-items-start flex-column">
              <img class="sa" src="images/Tank1.webp" width="100%">
            </div>
          </div>
        </div>
      </div>
      {{!-- </div> --}}
    </div>

    <div class="p-3  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-5 mx-auto">
          <div class="row">
            <div class="col order-md-0 d-flex justify-content-right align-items-start flex-column">
              <img class="sa" src="images/Kaisel.png" width="100%">
            </div>
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
                <h3>Kaisel</h3>
              <h5>After he killed Baran, Jinwoo extracted the shadow from Kaisellin's corpse and named it Kaisel, as he didn't 
                remember the wyvern's original name.</h5>
              <h5>Unfortunately, due to the fact that Kaisel was only good for flying and not fighting, Jinwoo rarely ever
                 used him as the story progressed and only ever summoned the wyvern whenever he needed to travel somewhere 
                 by air and couldn't use Shadow Exchange.</h5>

            </div>
          </div>
        </div>
      </div>
      {{!-- </div> --}}
    </div>

             <div class="p-3  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-5 mx-auto">
          <div class="row">
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
                <h3>Greed</h3>
              <h5>Following his victory against Thomas Andre, Jinwoo murdered Hwang as revenge for torturing Jinho,
                 extracted the shadow from his corpse, and named it Greed.</h5>
              <h5>Due to being fully aware of the crimes he made in life, Greed is humble, quiet, and servile towards
                 his master, often asking for permission to speak and addressing him with honorifics. At the same time,
                  however, he displays a thirst for blood in battle.</h5>

            </div>
            
            <div class="col order-md-0 d-flex justify-content-right align-items-start flex-column">
              <img class="sa" src="images/Greed2.webp" width="100%">
            </div>
          </div>
        </div>
      </div>
      {{!-- </div> --}}
    </div>

    <div class="p-3  bg-dark text-secondary" data-aos="fade-top">
    {{!-- <div class="container"> --}}
      <div class="row">
        <div class="col-md-9 col-5 mx-auto">
          <div class="row">
            <div class="col order-md-0 d-flex justify-content-right align-items-start flex-column">
              <img class="sa" src="images/Bellion.webp" width="100%">
            </div>
            <div class="col-md-8 order-md-0 d-flex justify-content-center align-items-start flex-column   ">
              
                <h3>Bellion</h3>
              <h5>Bellion was born eons ago from the fruit of the World Tree, a mystical tree so large that it could blanket the entire sky with its branches alone. He then went on to serve Ashborn as his lieutenant in both life and death, and was the first individual to ever be reborn as a shadow.</h5>
              <h5>Bellion comes off as composed and does not show much emotion. However, he is deeply loyal to the Shadow Monarch, both past and present, and has never once doubted his decisions.</h5>

            </div>
            
            
          </div>
        </div>
      </div>
      {{!-- </div> --}}
    </div>
</div>

    <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>