<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Leveling</title>
</head>

<body>
  <div class="col">
    {{>navbar}}
    <div class="row">
      <img class="backd" src="images/backd.jpg">
      <div class="col">
           <div class="rec2"></div> 
            <div class="written">
            <h3>Skills</h3>
            <div class="box">
            
                <h4>Stealth</h4>
                 <h5>Jinwoo is able to camouflage with his surroundings and hide all traces of presence, essentially turning himself both physically and magically invisible.</h5>
<h4>Bloodlust</h4>
 <h5>Jinwoo is able to magically intimidate a target into submission.</h5>
 <h4>Quicksilver </h4>
<h5>Jinwoo is able to increase his speed by 30% for a short burst.</h5>
<h4>Mutilation </h4>
<h5>Jinwoo rips a target to shreds with his daggers.</h5>
<h4>Dagger Rush </h4>
<h5>Jinwoo barrages a target with his daggers from all directions.</h5>
<h4>Ruler's Authority</h4>
<h5> Jinwoo is able to move and control objects via telekinesis.</h5>
<h4>Dragon's Fear</h4>
<h5> Jinwoo is able to release a mana-infused shout from his soul that drives anyone weaker than him into a state of intense despair and panic.</h5>
<h4>Shadow Extraction</h4>
<h5> Jinwoo is able to extract shadows from the corpses of his enemies and add them to his army.</h5>
<h4>Shadow Preservation</h4>
<h5> Jinwoo is able to preserve his shadows in storage and monitor them by perceiving their senses.</h5>
<h4>Shadow Exchange</h4>
<h5> Jinwoo is able to use shadows as portals to travel vast distances in an instant.</h5>
<h4>Monarch's Domain</h4>
<h5> Jinwoo is able to buff the strength of all of his active shadows by 50% in battle.</h5>
            </div>
            </div>
          
      </div>
    </div>
</div>


    <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>